body{
    background-color: cornsilk;
    font-family: sans-serif;
    padding-left: 1em;
}

label{
    display: block;
    float: left;
    color: cornflowerblue;
    font-weight: bolder;
    text-align: right;
    width: 10em;
}

a{
    color: limegreen;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

input{
    margin-left: 1em;
}

select{
    margin-left: 1em;
}

h1{
    color: darkcyan;
}

h2{
    color: darkgreen;
}

h3{
    color: green;
}

p.error{
    margin-top: 2em;
    color:red;
    font-style: oblique;
}

h3.error, li.error{
    color:crimson;
}

span.output{
    font-weight: bolder;
    font-style: italic;
    color: blueviolet;
    margin-left: 1em;
}