<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<!--/*@thymesVar id="timestamp" type="java.lang.String"*/-->
<!--/*@thymesVar id="path" type="java.lang.String"*/-->
<!--/*@thymesVar id="status" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
    <link th:href="@{/css/main.css}" href="../static/css/main.css"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/error.css}" href="../static/css/error.css"
          rel="stylesheet" type="text/css"/>
    <title>Error</title>
</head>
<body>
<main>
    <h1>Loan Calculator Error</h1>
    <h2>Error: <span th:text="${error}">Not Found</span></h2>
    <table>
        <tr>
            <th>Date</th>
            <td th:text="${timestamp}">Sun Feb 10 11:52:33 EST 2019</td>
        </tr>
        <tr>
            <th>Path</th>
            <td th:text="${path}">/blah/blah/blah</td>
        </tr>
        <tr>
            <th>Error</th>
            <td th:text="${error}">Not Found</td>
        </tr>
        <tr>
            <th>Status</th>
            <td th:text="${status}">404</td>
        </tr>
        <tr>
            <th>Message</th>
            <td th:text="${message}">No message available</td>
        </tr>
    </table>
    <p>
        <a th:href="@{/Input.do}" href="Input.html">Back to inputs</a>
    </p>
</main>
</body>
</html>